/* - Bare De navigation - */

nav
{
    margin-left: 18%;
    margin-top: -25px;
}
nav ul
{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li
{
    list-style: none;
}

nav ul li a
{
    display: block;
    margin: 1em 4em;
    padding: 30px 30px;
    text-decoration: none;
    color: rgb(80, 80, 80);

}
.home
{
    background-color: #662f32;
    color: #fff;
}

/* - Titre de la page - */
h1
{
    font-size: 80px;
    margin-left: 38%;
    margin-top: 7%;
    margin-bottom: 10vh;
    transition: 500ms;
}

span
{
    color: #662f32;
    transition: 500ms;
}

h1.page-title:hover
{
    color: #662f32;
    transition: 500ms;
}
h1.page-title:hover span
{
    color: #000;
    transition: 500ms;
}

/* - Image de présentation - */
img.img-chambre
{
    height: 600px;
    margin-left: 22%;
}

/* - Fiches de présentation avec hover effect - */
div.fiches
{
    display: inline-flex;
    margin: 1em 4em;
    padding: 30px 30px;
    margin-left: 45vh;
}

div.card
{
    margin-left: 50px;
}

div.title
{
    background-color: #662f32;
    margin-bottom: 0px;
    height: 50px;
    transition: 500ms;
}
div.other
{
    margin-top: 0px;
    background-color: #645955;
    padding-bottom: 0px;
    transition: 500ms;
}


div.title h3.title
{
    padding-top: 15px;
    color: #fff;
    text-align: center;
    transition: 500ms;
}

p.description
{
    color: #fff;
    width: 285px;
    transition: 500ms;
}

img.plus
{
    margin-top: 10px;
    margin-left: 24vh;
}

/* - Hover effect on the cards - */
div.card:hover h3
{
    background-color: #fff;
    color: #662f32;
    transition: 500ms;
}
div.card:hover img
{
    background-color: #fff;
    transition: 500ms;
}
div.card:hover p
{
    background-color: #fff;
    color: #645955;
    transition: 500ms;
}
div.card:hover div.other
{
    background-color: #fff;
    transition: 500ms;
}
div.card:hover div.title
{
    background-color: #fff;
    transition: 500ms;
}


/* - Témoignages | Services premium | A Propos - */
div.all-description
{
    display: inline-flex;
}
/* - TÉMOIGNAGES - */
div.temoignages
{
    margin-left: 53vh;
}

div.temoignages h3
{
    color: rgb(95, 95, 95);
}

div.temoignages p
{
    margin-bottom: 2vh;
    margin-top: -18px;
    margin-left: 2vh;
    width: 285px;
}
/* - Premium Service - */
div.premium
{
    margin-left: 90vh;
    margin-bottom: 400px;
    margin-top: -425px;
    width: 285px;
}

div.premium h3.title
{
    color: rgb(95, 95, 95);
}

div.premium h3.subtitle
{
    color: #662f32;
}


div.about-us
{
    margin-left: 128vh;
    margin-bottom: 200px;
    margin-top: -665px;
    width: 285px;
}

div.about-us h3.title
{
    color: rgb(95, 95, 95);
}

div.about-us h3.subtitle
{
    color: #662f32;
}

a.read-more
{
    background-color: #645955;
    color: #fff;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    transition: 500ms;
}

button.read-more:hover
{
    background-color: #fff;
    color: #645955;
    transition: 500ms;
}


/* - Footer séparator - */
div.footer-separator
{
    background-color: grey;
    height: 2px;
}

/* - Footer - */

footer img{
    margin-top: 40px;
    margin-bottom: -30px;
    margin-left: 113em;
}

/* - Scroll Bare - */
::-webkit-scrollbar
{
    width: 6px;
}

::-webkit-scrollbar-thumb
{
    background-color: #666;
    border-radius: 3px;
}